<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1"
		/>
		<link rel="stylesheet" href="/css/aboutUs.css" />
		<link rel="shortcut icon" href="/image/logo-icon.png" type="image/x-icon" />
		<meta
			name="description"
			content="Безкоштовні туристичні маршрути горами Бойківщини"
		/>
		<meta
			name="keywords"
			content="екотуризм, походи в гори, мандри, піший туризм, вело туризм , Бойківщина, Карпати, бойко мандри, бойкомандри, Бойкомандри, Бойко Мандри, БойкоМандри, піший маршрут, веломаршрут"
		/>
		<title>БойкоМандри</title>
		<title>Безкоштовні туристичні маршрути горами Бойківщини</title>
	</head>
	<header>
		<div id="container-header" class="container-header">
			<div class="logo">
				<a href="index.html"><img src="/image/logo.svg" alt="logo" /></a>
			</div>
			<div class="navigation">
				<div class="navigation__item">
					<ul>
						<a class="navigation__item__1" href="routes.html">
							<li class="routes">Поїздки</li>
						</a>
						<a class="navigation__item__2" href="/services.html">
							<li class="services">Послуги</li>
						</a>
						<a class="navigation__item__3" href="/contacts.html">
							<li class="contacts">Контакти</li>
						</a>
					</ul>
				</div>
				<div class="language-change">
					<img
						loading="lazy"
						class="language-change__image-earth"
						src="/image/language.svg"
						alt="earth"
					/>
					<!-- <p class="language-change__layout">Ua</p> -->
					<div class="custom-select">
						<div class="select-trigger"></div>
						<ul class="select-options">
							<li data-value="Ua">Ua</li>
							<li data-value="Pol">Pol</li>
							<li data-value="Eng">Eng</li>
						</ul>
					</div>
					<img
						loading="lazy"
						class="language-change__image-row"
						src="/image/language-row.svg"
						alt="language-row"
					/>
				</div>
				<div class="contacts-wrap">
					<a href="tel:+380979146771">
						<div class="contacts-wrap__button">
							<img
								loading="lazy"
								class="contacts-wrap__image-phone"
								src="/image/telephone.svg"
								alt="Telephone"
							/>
							<p class="contacts-wrap__text">+380 97 91 46 771</p>
						</div>
					</a>
				</div>
				<div id="menu" class="menu">
					<a href="#" class="menu__button">
						<span class="menuText">Меню</span>
					</a>
				</div>
			</div>
		</div>
		<div id="mobile-header" class="mobile-header">
			<div class="header-info">
				<div class="header-text">
					<ul>
						<a href="/routes.html" class="routes">Маршрути</a>
						<a href="/services.html" class="services">Послуги</a>
						<a href="/reach.html" class="howToGet">Як доїхати</a>
						<a href="/contacts.html" class="contacts">Контакти</a>
					</ul>
					<ul>
						<a href="/attractions.html" class="attractions"> Пам'ятки </a>
						<a href="/aboutUs.html" class="aboutUs"> Про нас </a>
						<a href="#" class="blogAndEvents"> Блог та події </a>
					</ul>
				</div>
				<div class="header-white-line"></div>
				<div class="header-navigation">
					<a href="tel:+380979146771">
						<div class="header-contacts__phone">
							<img src="/image/icon-footer-telephone.svg" alt="telephone" />
							+380 97 91 46 771
						</div>
					</a>
					<a href="mailto:strilkivska@gmail.com">
						<div class="header-contacts__email">
							<img src="/image/icon-footer-mail.svg" alt="email" />
							strilkivska@gmail.com
						</div>
					</a>
					<div class="header-social-networks">
						<a href="https://www.instagram.com/boykomandry/" target="_blank">
							<div class="header-social-networks__instagram">
								<img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
							</div>
						</a>
						<a
							href="https://www.facebook.com/profile.php?id=61550602395011&locale=uk_UA"
							target="_blank"
						>
							<div class="header-social-networks__facebook">
								<img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
							</div>
						</a>
					</div>
					<div class="header-language-change">
						<img
							loading="lazy"
							class="header-language-change__image-earth"
							src="/image/Globe.svg"
							alt="earth"
						/>
						<!-- <p class="header-language-change__layout">Ua</p> -->
						<div class="custom-select">
							<div class="select-trigger" style="font-family: Raleway; color: #fff">
								Ua
							</div>
							<ul class="select-options">
								<li data-value="Ua">Ua</li>
								<li data-value="Eng">Eng</li>
								<li data-value="Pol">Pol</li>
							</ul>
						</div>
						<img
							loading="lazy"
							class="language-change__image-row"
							src="/image/mobile-header-row.svg"
							alt="language-row"
						/>
					</div>
				</div>
			</div>
			<div class="header-image-wrap">
				<div class="header-image">
					<a href="#" id="close-icon" class="close-icon">
						<img src="/image/x.svg" alt="x" />
					</a>
				</div>
			</div>
		</div>
	</header>

	<div class="page-navigation">
		<p class="page-navigation__main">
			<a class="NavMain" href="index.html">Головна</a>
		</p>
		<p class="page-navigation__row">></p>
		<p class="page-navigation__aboutUs">
			<a class="NavAboutUs" href="/aboutUs.html">Про нас</a>
		</p>
	</div>

	<body>
		<div class="containerTitle">
			<div class="containerTitle__accentTxt">ПРО НАС</div>
			<div class="containerTitle__title">
				<h1>Ми — Стрілківська громада</h1>
			</div>
			<div class="containerTitle__photoWrap">
				<div class="containerTitle__photoWrap_element1">
					<img src="/image-page-aboutUs/image-videoForTitle.jpg" alt="mountain" />
				</div>
				<div class="containerTitle__photoWrap_element2">
					<img
						src="/image-page-aboutUs/image-teamBoykoMandryForTitle.jpg"
						alt="team-BoykoMandry"
					/>
				</div>
			</div>
		</div>

		<div class="containerTxtInfo">
			<p>
				Сучасна будівля церкви збудована у 1780 р., про що свідчить надпис на
				напоріжнику західних дверей: “По благодати создани божестенъніи домъ днѧ Л
				апрілѧ Р.Б. АѰП”. Рідкісний факт – майстром-будівничим був священик – о.
				Яків Дидьовський (✝1784 або 1786). Зберігся різьблений надпис на
				надпоріжнику одвірка західного входу: “1781 maystra x. Jiakub Dydiowsk…”.
				Будівлю відновлювали у 1881 та 190 5 рр. З 1960 по 1989 р. церква була
				зачинена, однак громада підпільно відремонтувала її у 1977 р.  Сучасна
				будівля церкви збудована у 1780 р., про що свідчить надпис на напоріжнику
				західних дверей: “По благодати создани божестенъніи домъ днѧ Л апрілѧ Р.Б.
				АѰП”. Рідкісний факт – майстром-будівничим був священик – о. Яків
				Дидьовський (✝1784 або 1786).
			</p>
		</div>

		<div class="containerUniqLocations">
			<div class="containerUniqLocations__title">
				<h2>У Стрілківській громаді знаходяться унікальні локації</h2>
			</div>
			<div class="containerUniqLocations__accentTxt">
				І нам є чим вас здивувати
			</div>
			<div class="containerUniqLocations-locationsInfoWrap">
				<div class="containerUniqLocations-locationsInfoWrap__hymn">
					<div class="containerUniqLocations-locationsInfoWrap__hymn_title">
						<h4>У нас створили гімн України</h4>
					</div>
					<div class="containerUniqLocations-locationsInfoWrap__hymn_txt">
						Село Стрілки — центр нашої громади — місце створення музики до Державного
						гімну України.
						<br />
						<br />
						Написав її о. Михайло Вербицький в часи служіння в цьому селі на слова
						Павла Чубинського, київського етнографа і фольклориста.
					</div>
					<div class="containerUniqLocations-locationsInfoWrap__hymn_imgVerbitsky">
						<img src="/image-page-aboutUs/Mykhaylo_Verbytsky 1.png" alt="Verbitsky" />
					</div>
				</div>
				<div class="containerUniqLocations-locationsInfoWrap__otherData">
					<div class="containerUniqLocations-locationsInfoWrap__otherData_el">
						<img src="/image-page-aboutUs/tree.svg" alt="tree" />
						<p>
							Авторка відомої пісні «Ой, у лісі на полянці» досі проживає у с.
							Бусовисько, що на території нашої громади.
						</p>
					</div>
					<div class="containerUniqLocations-locationsInfoWrap__otherData_el">
						<img src="/image-page-aboutUs/bell.svg" alt="bell" />
						<p>
							У селі Недільна стоїть одна з найвищих в Європі веж-дзвіниць, встановлена
							в пам’ять про загиблих воїнів УПА, з найвисотнішим хрестом над рівнем
							моря. Це зафіксовано в Книзі рекордів України.
						</p>
					</div>
					<div class="containerUniqLocations-locationsInfoWrap__otherData_el">
						<img src="/image-page-aboutUs/house.svg" alt="house" />
						<p>
							Село Мшанець, яке було одним з улюблених місць відпочинку Івана Франка і
							тут митець відсвяткував свій 48 День народження.
						</p>
					</div>
				</div>
			</div>
		</div>

		<div class="containerMountains">
			<div class="containerMountains__title">
				<h2>
					Мандруючи нашими бойківськими маршрутами ви відкриєте для себе багато
					скарбів, яких не знайдеш в інтернеті чи в книжках,
					<span>бо вони живуть в памʼяті гір!</span>
				</h2>
			</div>
			<!-- <div class="containerMountains__image">
            <img src="/image-page-aboutUs/mountains.webp" alt="mountains">
        </div> -->
		</div>

		<footer>
			<div class="container-footer">
				<div class="animate-on-scroll">
					<div class="footer-content">
						<div class="footer-logos">
							<div class="footer-logos__main">
								<img src="/image/logo-footer.svg" alt="logo" />
							</div>
							<div class="footer-logos__main-info">
								<p class="footerMainTransalte">
									БойкоМандри: туристичні маршрути Стрілківської громади
								</p>
							</div>
							<div class="footer-logos__partner-info">
								<p class="footerPartnerTransalte">
									Проєкт реалізується за підтримки Українського культурного фонду та
									Стрілківської сільської ради
								</p>
							</div>
							<div class="footer-logos__partner">
								<img src="/image/UCF-logo.svg" alt="logo" />
								<img src="/image/Strilku-logo.svg" alt="logo" />
							</div>
						</div>
						<div class="footer-navigation">
							<div class="footer-navigation__column1">
								<a href="routes.html">
									<p class="routes">Маршрути</p>
								</a>
								<a href="/services.html">
									<p class="services">Послуги</p>
								</a>
								<a href="/reach.html">
									<p class="howToGet">Як доїхати</p>
								</a>
								<a href="/contacts.html">
									<p class="contacts">Контакти</p>
								</a>
							</div>
							<div class="footer-navigation__column2">
								<a href="/attractions.html">
									<p class="attractions">Пам'ятки</p>
								</a>
								<a href="/aboutUs.html">
									<p class="aboutUs">Про нас</p>
								</a>
								<a href="#">
									<p class="blogAndEvents">Блог та події</p>
								</a>
							</div>
						</div>
						<div class="footer-contacts">
							<a href="tel:+380979146771">
								<div class="footer-contacts__phone">
									<img src="/image/icon-footer-telephone.svg" alt="telephone" />
									+380 97 91 46 771
								</div>
							</a>
							<a href="mailto:strilkivska@gmail.com">
								<div class="footer-contacts__email">
									<img src="/image/icon-footer-mail.svg" alt="email" />
									strilkivska@gmail.com
								</div>
							</a>
							<div class="footer-social-networks">
								<a href="https://www.instagram.com/boykomandry/" target="_blank">
									<div class="footer-social-networks__instagram">
										<img src="/image/icon-footer-instagram.svg" alt="inst-icon" />
									</div>
								</a>
								<a
									href="https://www.facebook.com/profile.php?id=61550602395011&locale=uk_UA"
									target="_blank"
								>
									<div class="footer-social-networks__facebook">
										<img src="/image/icon-footer-facebook.svg" alt="facebook-icon" />
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="white-line"></div>
				<div class="footer-bottom">
					<div class="footer-bottom__laws">
						<p class="footerLawsTranslate">Усі права захищені</p>
					</div>
					<div class="footer-bottom__politic">
						<p class="footerPoliticTranslate">Політика конфіденційності</p>
					</div>
					<div class="footer-bottom__designer">
						<p class="footerDesignerTranslate">Дизайнер: Барабаш Анастасія</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="/js/aboutUs.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/i18next@21.6.3/dist/umd/i18next.min.js"></script>
		<script src="/js/langChange.js"></script>
	</body>
</html>
