<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=5.0, user-scalable=1"
		/>
		<link rel="stylesheet" href="/views/css/attractions.css" />
		<link
			rel="shortcut icon"
			href="/views/image/logo-icon.png"
			type="image/x-icon"
		/>
		<meta
			name="description"
			content="Безкоштовні туристичні маршрути горами Бойківщини"
		/>
		<meta
			name="keywords"
			content="екотуризм, походи в гори, мандри, піший туризм, вело туризм , Бойківщина, Карпати, бойко мандри, бойкомандри, Бойкомандри, Бойко Мандри, БойкоМандри, піший маршрут, веломаршрут"
		/>
		<title>БойкоМандри</title>
		<title>Безкоштовні туристичні маршрути горами Бойківщини</title>
	</head>

	<body>
		<header>
			<div id="container-header" class="container-header">
				<div class="logo">
					<a href="index.html"><img src="/views/image/logo.svg" alt="logo" /></a>
				</div>
				<div class="navigation">
					<div class="navigation__item">
						<ul>
							<a class="navigation__item__1" href="routes.html">
								<li class="routes">Поїздки</li>
							</a>
							<a class="navigation__item__2" href="/services.html">
								<li class="services">Послуги</li>
							</a>
							<a class="navigation__item__3" href="/contacts.html">
								<li class="contacts">Контакти</li>
							</a>
						</ul>
					</div>
					<div class="language-change">
						<img
							loading="lazy"
							class="language-change__image-earth"
							src="/views/image/language.svg"
							alt="earth"
						/>
						<!-- <p class="language-change__layout">Ua</p> -->
						<div class="custom-select">
							<div class="select-trigger"></div>
							<ul class="select-options">
								<li data-value="Ua">Ua</li>
								<li data-value="Pol">Pol</li>
								<li data-value="Eng">Eng</li>
							</ul>
						</div>
						<img
							loading="lazy"
							class="language-change__image-row"
							src="/views/image/language-row.svg"
							alt="language-row"
						/>
					</div>
					<div class="contacts-wrap">
						<a href="tel:+380979146771">
							<div class="contacts-wrap__button">
								<img
									loading="lazy"
									class="contacts-wrap__image-phone"
									src="/views/image/telephone.svg"
									alt="Telephone"
								/>
								<p class="contacts-wrap__text">+380 97 91 46 771</p>
							</div>
						</a>
					</div>
					<div id="menu" class="menu">
						<a href="#" class="menu__button">
							<span class="menuText">Меню</span>
						</a>
					</div>
				</div>
			</div>
			<div id="mobile-header" class="mobile-header">
				<div class="header-info">
					<div class="header-text">
						<ul>
							<a href="/routes.html" class="routes">Маршрути</a>
							<a href="/services.html" class="services">Послуги</a>
							<a href="/reach.html" class="howToGet">Як доїхати</a>
							<a href="/contacts.html" class="contacts">Контакти</a>
						</ul>
						<ul>
							<a href="/attractions.html" class="attractions"> Пам'ятки </a>
							<a href="/aboutUs.html" class="aboutUs"> Про нас </a>
							<a href="#" class="blogAndEvents"> Блог та події </a>
						</ul>
					</div>
					<div class="header-white-line"></div>
					<div class="header-navigation">
						<a href="tel:+380979146771">
							<div class="header-contacts__phone">
								<img src="/views/image/icon-footer-telephone.svg" alt="telephone" />
								+380 97 91 46 771
							</div>
						</a>
						<a href="mailto:strilkivska@gmail.com">
							<div class="header-contacts__email">
								<img src="/views/image/icon-footer-mail.svg" alt="email" />
								strilkivska@gmail.com
							</div>
						</a>
						<div class="header-social-networks">
							<a href="https://www.instagram.com/boykomandry/" target="_blank">
								<div class="header-social-networks__instagram">
									<img src="/views/image/icon-footer-instagram.svg" alt="inst-icon" />
								</div>
							</a>
							<a
								href="https://www.facebook.com/profile.php?id=61550602395011&locale=uk_UA"
								target="_blank"
							>
								<div class="header-social-networks__facebook">
									<img src="/views/image/icon-footer-facebook.svg" alt="facebook-icon" />
								</div>
							</a>
						</div>
						<div class="header-language-change">
							<img
								loading="lazy"
								class="header-language-change__image-earth"
								src="/views/image/Globe.svg"
								alt="earth"
							/>
							<!-- <p class="header-language-change__layout">Ua</p> -->
							<div class="custom-select">
								<div class="select-trigger" style="font-family: Raleway; color: #fff">
									Ua
								</div>
								<ul class="select-options">
									<li data-value="Ua">Ua</li>
									<li data-value="Eng">Eng</li>
									<li data-value="Pol">Pol</li>
								</ul>
							</div>
							<img
								loading="lazy"
								class="language-change__image-row"
								src="/views/image/mobile-header-row.svg"
								alt="language-row"
							/>
						</div>
					</div>
				</div>
				<div class="header-image-wrap">
					<div class="header-image">
						<a href="#" id="close-icon" class="close-icon">
							<img src="/views/image/x.svg" alt="x" />
						</a>
					</div>
				</div>
			</div>
		</header>

		<div class="page-navigation">
			<p class="page-navigation__main">
				<a class="NavMain" href="index.html">Головна</a>
			</p>
			<p class="page-navigation__row">></p>
			<p class="page-navigation__attractions">
				<a class="NavAttractions" href="attractions.html">Пам'ятки Бойківщини</a>
			</p>
		</div>

		<div class="attractionsContainer">
			<div class="animate-on-scroll">
				<div class="titleAttractions">
					<h1>Пам'ятки Бойківщини</h1>
				</div>
			</div>
			<div class="animate-on-scroll">
				<div class="attrectionsWrap">
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction additional-block">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
					<div class="elementAttraction additional-block">
						<div class="elementAttraction__image">
							<img src="/image-page-attractions/church.webp" alt="church" />
						</div>
						<div class="elementAttraction__title">
							Церква Святої прп. Параскевії (Сербської)
						</div>
						<div class="elementAttraction__subtitle">
							Ця тризрубна триверха церква належить до найкращих зразків сакральних
							споруд бойківського типу Старосамбірщини. У ній ще...
						</div>
						<div class="elementAttraction__link">
							<a href="/attraction.html">
								<span>Читати далі</span>
								<img src="/image-page-attractions/row_link.svg" alt="row"
							/></a>
						</div>
					</div>
				</div>
			</div>
			<div class="animate-on-scroll">
				<button class="loadMore" id="loadMoreBtn" onclick="loadMoreBlocks()">
					<p>Загрузити ще</p>
					<img
						src="/image-page-attractions/row_load.svg"
						alt="row"
						id="loadMoreIcon"
					/>
				</button>
			</div>
		</div>

		<footer>
			<div class="container-footer">
				<div class="animate-on-scroll">
					<div class="footer-content">
						<div class="footer-logos">
							<div class="footer-logos__main">
								<img src="/views/image/logo-footer.svg" alt="logo" />
							</div>
							<div class="footer-logos__main-info">
								<p class="footerMainTransalte">
									БойкоМандри: туристичні маршрути Стрілківської громади
								</p>
							</div>
							<div class="footer-logos__partner-info">
								<p class="footerPartnerTransalte">
									Проєкт реалізується за підтримки Українського культурного фонду та
									Стрілківської сільської ради
								</p>
							</div>
							<div class="footer-logos__partner">
								<img src="/views/image/UCF-logo.svg" alt="logo" />
								<img src="/views/image/Strilku-logo.svg" alt="logo" />
							</div>
						</div>
						<div class="footer-navigation">
							<div class="footer-navigation__column1">
								<a href="routes.html">
									<p class="routes">Маршрути</p>
								</a>
								<a href="/services.html">
									<p class="services">Послуги</p>
								</a>
								<a href="/reach.html">
									<p class="howToGet">Як доїхати</p>
								</a>
								<a href="/contacts.html">
									<p class="contacts">Контакти</p>
								</a>
							</div>
							<div class="footer-navigation__column2">
								<a href="/attractions.html">
									<p class="attractions">Пам'ятки</p>
								</a>
								<a href="/aboutUs.html">
									<p class="aboutUs">Про нас</p>
								</a>
								<a href="#">
									<p class="blogAndEvents">Блог та події</p>
								</a>
							</div>
						</div>
						<div class="footer-contacts">
							<a href="tel:+380979146771">
								<div class="footer-contacts__phone">
									<img src="/views/image/icon-footer-telephone.svg" alt="telephone" />
									+380 97 91 46 771
								</div>
							</a>
							<a href="mailto:strilkivska@gmail.com">
								<div class="footer-contacts__email">
									<img src="/views/image/icon-footer-mail.svg" alt="email" />
									strilkivska@gmail.com
								</div>
							</a>
							<div class="footer-social-networks">
								<a href="https://www.instagram.com/boykomandry/" target="_blank">
									<div class="footer-social-networks__instagram">
										<img src="/views/image/icon-footer-instagram.svg" alt="inst-icon" />
									</div>
								</a>
								<a
									href="https://www.facebook.com/profile.php?id=61550602395011&locale=uk_UA"
									target="_blank"
								>
									<div class="footer-social-networks__facebook">
										<img
											src="/views/image/icon-footer-facebook.svg"
											alt="facebook-icon"
										/>
									</div>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="white-line"></div>
				<div class="footer-bottom">
					<div class="footer-bottom__laws">
						<p class="footerLawsTranslate">Усі права захищені</p>
					</div>
					<div class="footer-bottom__politic">
						<p class="footerPoliticTranslate">Політика конфіденційності</p>
					</div>
					<div class="footer-bottom__designer">
						<p class="footerDesignerTranslate">Дизайнер: Барабаш Анастасія</p>
					</div>
				</div>
			</div>
		</footer>
		<script src="/views/js/attractions.js"></script>
		<script src="https://cdn.jsdelivr.net/npm/i18next@21.6.3/dist/umd/i18next.min.js"></script>
		<script src="/views/js/langChange.js"></script>
	</body>
</html>
