@import url("https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&family=Raleway:ital,wght@0,500;0,600;1,500&display=swap");

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:focus,
:active {
	outline: none;
}

a:focus,
a:active {
	outline: none;
}

nav,
footer,
header,
aside {
	display: block;
}

html,
body {
	height: 100%;
	width: 100%;
	font-size: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

input,
button,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:visited {
	text-decoration: none;
}

a:hover {
	text-decoration: none;
}

ul li {
	list-style: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

header {
	position: fixed;
	z-index: 5;
	top: 0px;
	width: 100%;
	background-color: #fff;
	/* box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); */
	transition: opacity 0.6s ease;
	opacity: 1;
}

header.hidden {
	z-index: -5;
	opacity: 0;
}

.container-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.logo {
	margin: 20px 0px 20px 60px;
}

.navigation {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	gap: 28px;
	align-items: center;
}

.navigation__item ul {
	display: flex;
	flex-direction: row;
	gap: 28px;
	/* padding-top: 42px; */
	color: #1f2023;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 600;
	letter-spacing: 0.14px;
}

.navigation__item ul a {
	color: #1f2023;
}

.navigation__item ul a:hover {
	text-decoration: underline;
	color: #01594d;
}

.language-change {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
	width: 51%;
	height: 16%;
	/* margin-top: 40px; */
	color: #676767;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 0.14px;
}

.language-change__image-row {
	cursor: pointer;
}

.custom-select {
	position: relative;
	/* width: 200px; */
	/* Встановіть ширину за вашим смаком */
}

.select-trigger {
	/* padding: 10px; */
	/* border: 1px solid #ccc; */
	/* border-radius: 5px; */
	/* cursor: pointer; */
	color: var(--black, #131415);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	letter-spacing: 0.16px;
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	left: -30%;
	width: 50px;
	list-style: none;
	padding: 0;
	margin: 0;
	/* border: 1px solid #ccc; */
	border-radius: 5px;
	margin-top: 10px;
	background-color: #fff;
	box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
	/* z-index: 20; */
}

.select-options li {
	padding: 10px;
	font-size: 16px;
	cursor: pointer;
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	letter-spacing: 0.16px;
}

/* Показуємо випадаючий список при натисканні */
.custom-select.active .select-options {
	display: block;
}

.contacts-wrap {
	display: flex;
	flex-direction: row;
	/* align-items: center; */
	/* height: 40%; */
}

.contacts-wrap__button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	/* margin-top: 60px; */
	color: var(--black, #131415);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	/* 23.68px */
	letter-spacing: 0.16px;
	transition: all 0.5s ease;
}

.contacts-wrap__button:hover {
	text-decoration: underline;
	color: var(--green, #01594d);
}

.contacts-wrap__text {
	height: 24px;
	width: max-content;
}

.menu {
	/* display: flex; */
	margin-right: 26px;
	padding-left: 2px;
	/* margin: 26px; */
}

.menu__button {
	background: #cfe8d0;
	border-radius: 100px;
	height: 48px;
	padding: 17px 28px;
	/* overflow: hidden;
    z-index: 0;
    border: none; */
	transition: background-color 0.3s ease-in;
}

.menu__button:hover {
	background-color: rgba(207, 232, 208, 0.6);
	/* border: 2px solid #CFE8D0;
    padding: 15px 26px; */
}

.menu__button:active {
	transition: none;
	background: rgba(1, 89, 77, 0.2);
	border: none;
	padding: 17px 28px;
}

.menu__button span {
	color: var(--green, #01594d);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	letter-spacing: 0.16px;
	z-index: 10;
}

.page-navigation {
	display: flex;
	flex-direction: row;
	gap: 12px;
	margin-top: 160px;
	padding-left: 66px;
}

.page-navigation__main a {
	color: var(--black, #131415);
	font-family: Raleway;
	font-size: 12px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: 0.12px;
}

.page-navigation__row {
	color: var(--black, #131415);
	font-family: Raleway;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.12px;
}

.page-navigation__attractions a {
	color: var(--black, #131415);
	font-family: Raleway;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.12px;
}

.page-navigation__attraction a {
	color: var(--black, #131415);
	font-family: Raleway;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.12px;
	opacity: 0.6;
}

.page-navigation a:hover {
	opacity: 0.9;
	color: var(--green, #01594d);
	text-decoration-line: underline;
}

/* ----------------------------------------------------------------------- */

.container-attraction {
	display: flex;
	flex-direction: column;
	padding: 0px 185px;
	align-items: center;
	gap: 100px;
}

.container-attraction__title {
	color: var(--black, #131415);
	text-align: center;
	font-family: "Alumni Sans";
	font-size: 76px;
	font-style: normal;
	font-weight: 500;
	line-height: 88%;
	margin-top: 60px;
	padding: 0px 170px;
}

.container-attraction__image {
	margin-top: -40px;
	display: flex;
	justify-content: center;
}

.container-attraction__image img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.container-attraction__txt {
	color: var(--black, #131415);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.18px;
	opacity: 0.9;
	padding: 0px 195px;
}

.container-attraction__imagePlusvideo {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 16px;
}

.container-attraction__imagePlusvideo_image img {
	width: 100%;
	height: 100%;
	height: 325px;
	border-radius: 20px;
}

.container-attraction__imagePlusvideo_video img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
	max-height: 325px;
}

@media screen and (max-width: 1440px) {
	.container-attraction {
		padding: 0px 120px;
	}
}

@media screen and (max-width: 1300px) {
	.container-attraction {
		padding: 0px 80px;
	}
}

@media screen and (max-width: 1100px) {
	.container-attraction__txt {
		padding: 0px 120px;
	}

	.container-attraction__title {
		padding: 0px 120px;
	}
}

@media screen and (max-width: 900px){
	.container-attraction{
		padding: 0px 10px;
	}
}

@media screen and (max-width: 600px){
	.container-attraction__imagePlusvideo{
		flex-direction: column;
	}

	.container-attraction__title{
		padding: 0px 10px;
		font-size: 48px;
	}

	.container-attraction__txt{
		padding: 0px 10px;
	}
}


/* ----------------------------------------------------------------------- */
.container-footer {
	background: #01594d;
}

.footer-content {
	margin-top: 160px;
	display: flex;
	flex-direction: row;
	padding: 65px 185px;
}

.footer-logos {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 320px;
}

.footer-logos__main-info {
	color: var(--white, #fbfbfb);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	/* 22.4px */
	letter-spacing: 0.16px;
}

.footer-logos__partner-info {
	color: var(--white, #fbfbfb);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	/* 19.6px */
	letter-spacing: 0.42px;
	text-transform: uppercase;
}

.footer-logos__partner {
	display: flex;
	gap: 12px;
}

.footer-logos__partner img {
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.1);
	padding: 8px 12px;
	width: 50%;
	height: 100%;
}

.footer-navigation {
	display: flex;
	flex-direction: row;
	gap: 98px;
	margin-left: 80px;
	padding-top: 30px;
}

.footer-navigation__column1 {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.footer-navigation__column1 a {
	color: var(--white, #fbfbfb);
	font-variant-numeric: lining-nums proportional-nums;

	/* button 18 */
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	/* 26.64px */
	letter-spacing: 0.18px;
}

.footer-navigation__column1 a:hover {
	text-decoration: underline;
	color: var(--light-green, #cfe8d0);
}

.footer-navigation__column2 {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.footer-navigation__column2 a {
	color: var(--white, #fbfbfb);
	font-variant-numeric: lining-nums proportional-nums;

	/* button 18 */
	font-family: Raleway;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	/* 26.64px */
	letter-spacing: 0.18px;
}

.footer-navigation__column2 a:hover {
	text-decoration: underline;
	color: var(--light-green, #cfe8d0);
}

.footer-contacts {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-left: 120px;
	padding-top: 30px;
}

.footer-contacts a:hover {
	text-decoration: underline;
	color: var(--light-green, #cfe8d0);
}

.footer-contacts__phone {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--white, #fbfbfb);
	font-family: Alumni Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 88%;
}

.footer-contacts__email {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--white, #fbfbfb);
	font-family: Alumni Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 88%;
	/* 31.68px */
}

.footer-social-networks {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.footer-social-networks__instagram {
	border-radius: 100px;
	background: rgba(251, 251, 251, 0.1);
	padding: 16px;
	transition: background-color 0.3s ease-in;
}

.footer-social-networks__instagram:hover {
	background: #fff;
	padding: 16.5px;
}

.footer-social-networks__instagram:hover img {
	content: url(/image/icon-footer-instagram-green.svg);
}

.footer-social-networks__facebook {
	border-radius: 100px;
	background: rgba(251, 251, 251, 0.1);
	padding: 16px;
	transition: background-color 0.3s ease-in;
}

.footer-social-networks__facebook:hover {
	background: #fff;
	padding: 16px 20px;
	border-radius: 100px;
}

.footer-social-networks__facebook:hover img {
	content: url(/image/icon-footer-facebook-green.svg);
}

.white-line {
	border: none;
	height: 1px;
	opacity: 0.3;
	background: var(--white, #fbfbfb);
	margin: 0px 48px;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 32px 185px;
}

.footer-bottom__laws {
	color: var(--white, #fbfbfb);
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	/* 19.6px */
	letter-spacing: 0.14px;
}

.footer-bottom__politic {
	color: var(--white, #fbfbfb);
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	/* 19.6px */
	letter-spacing: 0.14px;
}

.footer-bottom__designer {
	color: var(--white, #fbfbfb);
	text-align: right;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	/* 19.6px */
	letter-spacing: 0.14px;
}

.mobile-header {
	background-color: #01594d;
	display: none;
	flex-direction: row;
}

.header-info {
	width: 100%;
}

.header-text {
	display: flex;
	flex-direction: row;
	gap: 240px;
	padding: 68px 0px 68px 60px;
}

.header-text ul {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.header-text a {
	color: var(--white, #fbfbfb);
	font-family: Alumni Sans;
	font-size: 72px;
	font-style: normal;
	font-weight: 500;
	line-height: 88%;
}

.header-text a:hover {
	text-decoration: underline;
	color: var(--light-green, #cfe8d0);
}

.header-white-line {
	border: none;
	height: 1px;
	opacity: 0.3;
	background: var(--white, #fbfbfb);
	margin: 0px 48px;
}

.header-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 48px;
	padding: 50px 60px;
}

.header-navigation a:hover {
	text-decoration: underline;
	color: var(--light-green, #cfe8d0);
}

.header-navigation :last-child {
	justify-content: end;
}

.header-contacts__phone {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--white, #fbfbfb);
	font-family: Alumni Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 88%;
	min-width: 228px;
}

.header-contacts__email {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--white, #fbfbfb);
	font-family: Alumni Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 88%;
}

.header-social-networks {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.header-social-networks__instagram {
	border-radius: 100px;
	background: rgba(251, 251, 251, 0.1);
	padding: 16px;
	transition: background-color 0.3s ease-in;
}

.header-social-networks__instagram:hover {
	background: #fff;
	padding: 16.5px;
}

.header-social-networks__instagram:hover img {
	content: url(/image/icon-footer-instagram-green.svg);
}

.header-social-networks__facebook {
	border-radius: 100px;
	background: rgba(251, 251, 251, 0.1);
	padding: 16px;
	transition: background-color 0.3s ease-in;
}

.header-social-networks__facebook:hover {
	background: #fff;
	padding: 16px 20px;
	border-radius: 100px;
}

.header-social-networks__facebook:hover img {
	content: url(/image/icon-footer-facebook-green.svg);
}

.header-language-change {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
}

.header-language-change__layout {
	color: var(--white, #fbfbfb);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	letter-spacing: 0.16px;
}

.header-image-wrap {
	width: 34%;
	background-image: url(/image/mobile-header-img.webp);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
}

.header-image {
	width: 100%;
	height: 100%;
	background-image: url(/image/logo-mobile-header.svg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: auto;
	display: flex;
	justify-content: end;
}

.close-icon {
	width: 48px;
	height: 48px;
	margin: 28px 28px 0px 0px;
}

.close-icon img {
	padding: 16px;
	background-color: var(--light-green, #cfe8d0);
	width: 48px;
	height: 48px;
	border-radius: 100%;
	transition: background-color 0.3s ease-in;
}

.close-icon img:hover {
	background-color: rgba(207, 232, 208, 0.8);
}

.animate-on-scroll {
	opacity: 0;
	transform: translateY(70px);
	transition: opacity 1.5s ease, transform 2s ease;
}

/* -------------------------HEADER--------------------------- */
@media screen and (max-width: 995px) {
	.navigation__item {
		display: none;
	}

	.language-change {
		display: none;
	}

	.contacts-wrap {
		display: none;
	}
}

@media screen and (max-width: 426px) {
	.logo {
		margin: 20px 0px 20px 32px;
	}

	.menu {
		margin-right: 32px;
	}

	.page-navigation {
		padding-left: 32px;
	}
}

@media screen and (max-width: 376px) {
	.logo {
		margin: 10px 0px 10px 10px;
	}

	.menu {
		margin-right: 20px;
	}

	.page-navigation {
		padding-left: 10px;
	}
}

@media screen and (max-width: 348px) and (min-width: 322px) {
	.menu {
		margin-right: 10px;
	}
}

@media screen and (max-width: 340px) and (min-width: 322px) {
	.logo {
		margin-left: 0px;
	}

	.menu {
		margin-right: 0px;
	}
}

@media screen and (max-width: 321px) {
	.logo img {
		width: 158px;
		height: 48px;
	}

	.menu__button {
		padding: 12.5px 19.7px;
	}

	a.menu__button :where(span) {
		color: var(--green, #01594d);
		font-variant-numeric: lining-nums proportional-nums;
		font-family: Raleway;
		font-size: 14px;
		font-style: normal;
		font-weight: 600;
		line-height: 148%;
		letter-spacing: 0.14px;
	}
}

/* -------------------------HEADER--------------------------- */

/* -------------------------FOOTER--------------------------- */
@media screen and (max-width: 1224px) {
	.footer-content {
		padding: 65px 60px;
	}

	.footer-logos__main-info {
		font-size: 14px;
	}

	.footer-logos__partner-info {
		font-size: 14px;
	}

	.footer-navigation__column1 a {
		font-size: 16px;
	}

	.footer-navigation__column2 a {
		font-size: 16px;
	}

	.footer-contacts__phone {
		font-size: 30px;
	}

	.footer-contacts__email {
		font-size: 30px;
	}
}

@media screen and (max-width: 1025px) {
	.footer-contacts {
		margin-left: 88px;
	}

	.footer-content {
		padding: 65px 45px;
	}

	.footer-bottom {
		padding: 32px 60px;
	}
}

@media screen and (max-width: 995px) {
	.footer-contacts {
		margin-left: 50px;
	}

	.footer-navigation {
		margin-left: 50px;
	}

	.footer-content{
		flex-direction: column;
	}

	.footer-navigation{
		margin-left: 0px;
	}

	.footer-contacts{
		margin-left: 0px;
	}
}

@media screen and (max-width: 426px) {
	.footer-content {
		flex-direction: column;
		padding: 68px 32px 0px 32px;
	}

	.footer-logos__partner {
		width: 100%;
	}

	.footer-logos__partner img {
		height: auto;
		width: 100%;
	}

	.footer-navigation {
		margin: 60px 0px 0px 0px;
		padding: 0px;
	}

	.footer-contacts {
		margin: 60px 0px 0px 0px;
		padding: 0px;
	}

	.container-footer :where(.white-line) {
		margin: 60px 32px 0px 32px;
	}

	.footer-bottom {
		flex-direction: column;
		gap: 28px;
		padding: 0px 32px 40px 32px;
		margin: 40px 0px;
	}

	.footer-bottom__designer {
		text-align: unset;
	}
}

@media screen and (max-width: 376px) {
	.footer-content {
		padding: 68px 10px 0px 10px;
	}

	.footer-logos__partner {
		width: 100%;
	}

	.footer-bottom {
		padding: 0px 10px 40px 10px;
	}

	.container-footer :where(.white-line) {
		margin: 60px 10px 0px 10px;
	}
}

@media screen and (max-width: 321px) {
	.footer-logos__main img {
		width: 100%;
		height: 65px;
	}

	.footer-logos__main-info {
		margin-top: 20px;
	}

	.footer-logos__partner-info {
		font-size: 12px;
	}

	.footer-logos__partner {
		width: 100%;
	}

	.footer-logos__partner img {
		width: 49%;
	}
}

@media screen and (max-width: 265px) {
	.footer-navigation {
		gap: 20px;
	}

	.footer-contacts__phone {
		font-size: 25px;
	}

	.footer-contacts__email {
		font-size: 25px;
	}
}

/* -------------------------FOOTER--------------------------- */
