@import url(https://fonts.googleapis.com/css2?family=Alumni+Sans:wght@500&family=Raleway:ital,wght@0,500;0,600;1,500&display=swap);

.select-options,
ul li {
	list-style: none;
}

.select-options,
header {
	/* box-shadow: 0 4px 6px rgba(0, 0, 0, .1); */
	background-color: #fff;
}

.menu__button:hover,
.select-options,
header {
	background-color: #fff;
}

.language-change,
.navigation__item ul {
	font-family: Raleway;
	font-size: 14px;
	letter-spacing: 0.14px;
}

* {
	padding: 0;
	margin: 0;
	border: 0;
}

*,
:after,
:before {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}

:active,
:focus,
a:active,
a:focus {
	outline: 0;
}

.custom-select.active .select-options,
aside,
footer,
header,
nav {
	display: block;
}

body,
html {
	height: 100%;
	width: 100%;
	line-height: 1;
	font-size: 14px;
	-ms-text-size-adjust: 100%;
	-moz-text-size-adjust: 100%;
}

button,
input,
textarea {
	font-family: inherit;
}

input::-ms-clear {
	display: none;
}

.header-language-change__image-row,
.language-change__image-row,
button {
	cursor: pointer;
}

button::-moz-focus-inner {
	padding: 0;
	border: 0;
}

a,
a:hover,
a:visited {
	text-decoration: none;
}

img {
	vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-size: inherit;
	font-weight: inherit;
}

header {
	position: fixed;
	z-index: 5;
	top: 0;
	width: 100%;
	transition: opacity 0.6s;
	opacity: 1;
}

header.hidden {
	z-index: -5;
	opacity: 0;
}

.blog-head,
.container-header {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.navigation,
.navigation__item ul {
	display: flex;
	flex-direction: row;
	gap: 28px;
}

.logo {
	margin: 20px 0 20px 60px;
}

.boyku-wrap,
.navigation {
	justify-content: space-between;
	align-items: center;
}

.navigation__item ul {
	color: #1f2023;
	font-weight: 600;
}

.boyku-wrap,
.contacts-wrap,
.emotion-items,
.emotions-title,
.language-change,
.title-button-wrap {
	flex-direction: row;
	display: flex;
}

.navigation__item ul a {
	color: #1f2023;
}

.navigation__item ul a:hover {
	text-decoration: underline;
	color: #01594d;
}

.language-change {
	align-items: center;
	gap: 4px;
	width: 51%;
	height: 16%;
	color: #676767;
	font-weight: 500;
}

.contacts-wrap__button,
.select-trigger {
	color: var(--black, #131415);
	letter-spacing: 0.16px;
}

.contacts-wrap__button,
.menu__button span,
.select-options li,
.select-trigger {
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	font-variant-numeric: lining-nums proportional-nums;
}

.contacts-wrap__button {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: center;
	gap: 8px;
	transition: 0.5s;
}

.item_1s__img,
.menu__button,
.title-button-wrap__text {
	transition: background-color 0.3s ease-in;
}

.contacts-wrap__button:hover {
	text-decoration: underline;
	color: var(--green, #01594d);
}

.contacts-wrap__text {
	height: 24px;
	width: 135px;
}

.custom-select {
	position: relative;
}

.select-options {
	display: none;
	position: absolute;
	top: 100%;
	left: -30%;
	width: 50px;
	padding: 0;
	margin: 10px 0 0;
	border-radius: 5px;
}

.select-options li {
	padding: 10px;
	cursor: pointer;
	text-align: center;
	letter-spacing: 0.16px;
}

.menu {
	margin-right: 26px;
	padding-left: 2px;
}

.menu__button {
	background: #cfe8d0;
	border-radius: 100px;
	height: 48px;
	padding: 17px 28px;
}

.menu__button:hover {
	/* border: 2px solid #cfe8d0;
	padding: 15px 26px; */
	background-color: rgba(207, 232, 208, 0.8);
}

.menu__button:active {
	background: rgba(1, 89, 77, 0.2);
}

.menu__button span {
	color: var(--green, #01594d);
	letter-spacing: 0.16px;
	z-index: 10;
}

.container-title-wrap {
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 80px 0;
}

.container-title-wrap_2 {
	margin: 60px 185px 0;
	width: 100%;
}

.container-title {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	align-items: center;
}

.container-title__title {
	width: 600px;
	color: #1f2023;
	font-family: Alumni Sans;
	font-size: 76px;
	font-weight: 500;
	line-height: 88%;
}

.container-title__wrapper {
	display: flex;
	flex-direction: column;
	width: max-content;
}

.container-title__subtitle {
	width: 440px;
	color: #1f2023;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: 0.16px;
	margin-top: 12px;
}

.title-button-wrap {
	gap: 17px;
	margin-top: 24px;
	width: max-content;
}

.title-button-wrap__container {
	display: flex;
	border-radius: 100px;
	justify-content: center;
	align-items: center;
	text-align: center;
	color: #fff;
	font-family: Raleway;
	font-size: 16px;
	font-weight: 500;
	line-height: 160%;
}

.boyku-title__accent,
.title-button-wrap__info {
	color: var(--black, #131415);
	font-family: Raleway;
}

.title-button-wrap__text {
	padding: 10px 24px;
	border-radius: 100px;
	background: var(--green, #01594d);
}

.title-button-wrap__text:hover {
	/* padding: 8px 22px;
	background-color: #fff;
	border: 2px solid #01594d;
	color: #01594d; */
	background-color: rgba(1, 89, 77, 0.8);
}

.title-button-wrap__text:active {
	/* color: #fff;
	transition: none;
	padding: 8px 22px;
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.2) 0,
			rgba(255, 255, 255, 0.2) 100%
		),
		var(--green, #01594d); */

	background-color: rgba(1, 89, 77, 0.5);
}

.title-button-wrap__info {
	width: 120px;
	font-size: 15px;
	font-style: italic;
	font-weight: 400;
	line-height: 136%;
	letter-spacing: 0.15px;
}

.container-video {
	display: flex;
	justify-content: center;
	align-items: center;
	border-radius: 20px;
	margin: 54px 49px 0;
}

.container-video__title-video {
	border-radius: 20px;
	width: 100%;
}

.container-boyku {
	display: flex;
	justify-content: center;
	align-items: center;
}

.container-boyku-wrapper {
	margin: 160px 0 0;
	padding: 0 185px;
	width: 100%;
}

.boyku-title__accent {
	padding-top: 20px;
	font-variant-numeric: lining-nums proportional-nums;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.56px;
	text-transform: uppercase;
	width: 140px;
}

.container-boyku__map img,
.emotions-items-wrap,
.emotions-title,
.header-info {
	width: 100%;
}

.boyku-title {
	display: flex;
	flex-direction: row;
}

.boyku-title-wrapper {
	padding-left: 41px;
}

.boyku-title__title {
	color: #1f2023;
	font-family: Alumni Sans;
	font-size: 72px;
	font-weight: 500;
	line-height: 63.36px;
}

.boyku-title__subtitle,
.emotions-title__accent {
	font-family: Raleway;
	line-height: 140%;
	font-weight: 500;
}

.boyku-title__subtitle {
	padding-top: 40px;
	color: #1f2023;
	font-size: 16px;
	letter-spacing: 0.16px;
}

.emotions-title__accent,
.routes-wrap__title-wrap_accent {
	letter-spacing: 0.56px;
	font-style: normal;
	text-transform: uppercase;
}

.container-boyku__map {
	max-width: 100%;
}

.subtitlePadding {
	padding-top: 20px;
}

.container-emotions {
	display: flex;
	flex-direction: column;
	justify-content: center;
}

.emotions-wrap {
	margin: 185px 185px 0;
}

.emotions-title-wrap {
	display: flex;
}

.emotions-title__accent {
	width: 140px;
	padding-top: 20px;
	color: var(--black, #131415);
	font-size: 14px;
}

.emotions-title__title {
	max-width: 478px;
	margin-right: 300px;
	color: #1f2023;
	font-family: Alumni Sans;
	font-size: 72px;
	font-weight: 500;
	line-height: 63.36px;
	padding-left: 40px;
}

.emotion-items__item_2 p,
.emotion-items__item_3s p,
.item_1s__title {
	font-family: Alumni Sans;
	font-size: 36px;
	line-height: 88%;
	font-style: normal;
	font-weight: 500;
}

.emotions-items-wrapper {
	padding: 0 185px;
}

.emotion-items {
	margin-top: 60px;
}

.emotion-items__item_1 {
	height: 572px;
	width: 53%;
	border-radius: 12px;
	background: linear-gradient(180deg, #e3efe9 0, #ebe8d7 64.34%);
}

.emotion-items__item_1s {
	display: flex;
	flex-direction: row;
	padding: 28px;
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: url(/image/landscape.webp) bottom right/cover no-repeat;
}

.emotion-items__item_1s a {
	display: flex;
	justify-content: center;
	align-items: center;
}

.item_1s__title {
	width: 251px;
	height: 96px;
	color: var(--black, #131415);
}

.item_1s__img {
	display: flex;
	align-items: center;
	justify-content: center;
	background: var(--green, #01594d);
}

.item_1s__img:hover {
	/* background-color: #fff;
	border: 2px solid #01594d; */
	background-color: rgba(1, 89, 77, 0.8);
}

/* .item_1s__img:hover img {
	content: url(/image/emotions-row-green.svg);
} */

.item_1s__img:active {
	background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.2) 0,
			rgba(255, 255, 255, 0.2) 100%
		),
		var(--green, #01594d);
	border: none;
	transition: none;
}

.item_1s__img:active img,
.routes1-button p:active img,
.routes2-button p:active img,
.routes3-button p:active img {
	content: url(/image/emotions-row.svg);
}

.emotion-items__item_1s a,
.item_1s__img {
	width: 44px;
	height: 44px;
	border-radius: 100%;
}

.emotion-wrapper-wrap {
	width: 100%;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.emotion-wrapper {
	display: flex;
	gap: 16px;
	margin-left: 16px;
	width: 100%;
}

.emotion-items__item_2 {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: #cfe8d0;
}

.emotion-items__item_2 p {
	color: var(--black, #131415);
	width: 100%;
	padding: 28px 0 0 28px;
}

.emotion-items__item_2s {
	border-radius: 12px;
	height: 100%;
	width: 100%;
	background: url(/image/emotions-ellipse.png) 100% no-repeat;
	background-size: contain;
}

.item2-img {
	width: 93%;
	height: 91%;
	background: url(/image/delicious.webp) bottom right no-repeat;
}

.emotion-items__item_3 {
	width: 100%;
	height: 100%;
	border-radius: 12px;
	background: var(--green, #01594d);
}

.emotion-items__item_4,
.item4-img,
.route-versions__1_title {
	height: 100%;
	border-radius: 20px;
}

.emotion-items__item_3s img {
	width: 100%;
	height: 172px;
}

.emotion-items__item_3s p {
	color: #fff;
	width: 100%;
	padding: 28px 0 14px 28px;
}

.emotion-items__item_4 {
	width: 100%;
	margin-left: 16px;
}

.item4-img {
	width: 100%;
	background: url(/image/girl-landscape.webp) bottom/cover no-repeat;
}

.container-routes {
	background: var(--green, #01594d);
}

.routes-wrap {
	margin-top: 160px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.routes-wrap__title-wrap {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-top: 111px;
	text-align: center;
	max-width: 575px;
}

.routes-wrap__title-wrap_accent {
	color: #fff;
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 14px;
	font-weight: 500;
	line-height: 140%;
}

.routes-wrap__title-wrap_title {
	color: #fff;
	text-align: center;
	font-family: Alumni Sans;
	font-size: 72px;
	font-style: normal;
	font-weight: 500;
	line-height: 88%;
}

.route-versions-wrap {
	display: flex;
	padding: 0 185px;
}

.route-versions {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 56px;
	width: 100%;
}

.route-versions__1,
.route-versions__2,
.route-versions__3 {
	display: flex;
	flex-direction: row;
	width: 100%;
	height: 100%;
}

.route-versions__1_title {
	width: 90%;
	background: rgba(255, 255, 255, 0.1);
	padding: 28px;
}

.routes1-info-wrap,
.routes2-info-wrap,
.routes3-info-wrap {
	display: flex;
	gap: 6px;
}

.routes1-info-wrap__distance,
.routes1-info-wrap__level,
.routes2-info-wrap__distance,
.routes2-info-wrap__level,
.routes3-info-wrap__distance,
.routes3-info-wrap__level {
	display: flex;
	padding: 6px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	color: #fff;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.48px;
}

.routes1-info-wrap__height,
.routes2-info-wrap__height,
.routes3-info-wrap__height {
	display: flex;
	gap: 8px;
	padding: 6px 20px;
	justify-content: center;
	align-items: center;
	border-radius: 100px;
	border: 1px solid rgba(255, 255, 255, 0.4);
	color: #fff;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.48px;
}

.rotes1-title-wrap,
.rotes2-title-wrap,
.rotes3-title-wrap {
	display: flex;
	flex-direction: column;
	gap: 24px;
	margin-top: 60px;
}

.routes1-title,
.routes2-title,
.routes3-title {
	display: flex;
	flex-direction: column;
	gap: 8px;
	color: #fff;
	font-family: Alumni Sans;
	font-size: 48px;
	font-style: normal;
	font-weight: 500;
	line-height: 88%;
}

.routes1-title__accent,
.routes2-title__accent,
.routes3-title__accent {
	color: #fff;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.56px;
	text-transform: uppercase;
}

.routes1-button p,
.routes1-button p:hover,
.routes1-subtitle,
.routes2-button p,
.routes2-button p:hover,
.routes2-subtitle,
.routes3-button p,
.routes3-button p:hover,
.routes3-subtitle {
	font-size: 18px;
	letter-spacing: 0.18px;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
}

.routes1-subtitle,
.routes2-subtitle,
.routes3-subtitle {
	color: #fff;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
}

.routes-about__subtitle,
.routes-about__title {
	color: #fbfbfb;
	text-align: center;
	font-style: normal;
}

.hire-background__title,
.routes-about__title {
	font-weight: 500;
	letter-spacing: 0.56px;
	text-transform: uppercase;
}

.routes1-button,
.routes2-button,
.routes3-button {
	display: flex;
	margin-top: 98px;
}

.routes1-button p,
.routes2-button p,
.routes3-button p {
	display: flex;
	align-items: center;
	gap: 8px;
	border-radius: 100px;
	background: #cfe8d0;
	text-align: center;
	padding: 10px 28px;
	color: var(--green, #01594d);
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	transition: background-color 0.3s ease-in;
}

.routes1-button p:hover,
.routes2-button p:hover,
.routes3-button p:hover {
	/* background-color: #fff;
	border: 2px solid #cfe8d0;
	border-radius: 100px;
	padding: 8px 26px;
	text-align: center;
	color: var(--green, #01594d);
	font-style: normal;
	font-weight: 600;
	line-height: 148%; */

	background-color: rgba(207, 232, 208, 0.8);
}

.routes1-button p:active,
.routes2-button p:active,
.routes3-button p:active {
	/* transition: none;
	background: rgba(1, 89, 77, 0.2);
	color: #fff; */
	background-color: rgba(207, 232, 208, 0.5);
}

.aboutus-image,
.routes1-img,
.routes2-img,
.routes3-img {
	width: 100%;
	height: 100%;
}

.route-versions__2_title,
.route-versions__3_title {
	width: 90%;
	background: rgba(255, 255, 255, 0.1);
	padding: 28px;
	height: 100%;
	border-radius: 20px;
}

.routes1-img img,
.routes2-img img,
.routes3-img img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.container-footer,
.container-routes-about {
	background: #01594d;
}

.routes-about {
	padding-top: 160px;
}

.header-text ul,
.routes-about-wrapper {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.routes-about__title {
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 14px;
	line-height: 140%;
}

.routes-about__subtitle {
	font-family: Alumni Sans;
	font-size: 72px;
	font-weight: 500;
	line-height: 88%;
}

.hire-background__button p,
.hire-background__button p:hover,
.hire-background__title {
	display: flex;
	font-family: Raleway;
	font-variant-numeric: lining-nums proportional-nums;
}

.routes-about__subtitle p {
	padding: 0 162px;
}

.aboutus-text__button p,
.blog-head__button p,
.hire-background__button p,
.instagram-head__button p {
	gap: 8px;
	padding: 10px 28px;
	background: var(--green, #01594d);
	color: var(--white, #fbfbfb);
	transition: background-color 0.3s ease-in;
}

.routes-about-img-wrap {
	display: flex;
	flex-direction: row;
	justify-content: center;
	gap: 16px;
	padding: 0 48px;
	margin-top: 60px;
}

.bottom-row,
.hire-background__button p {
	align-items: center;
}

.routes-about-img-wrap__image1 {
	width: 30%;
	height: 640px;
}

.routes-about-img-wrap__image2 {
	width: 70%;
	height: 640px;
}

.aboutus-image img,
.blog-element1__image img,
.blog-element2__image img,
.routes-about-img-wrap__image1 img,
.routes-about-img-wrap__image2 img {
	width: 100%;
	height: 100%;
	border-radius: 20px;
}

.hire-background__button p,
.hire-background__button p:hover {
	border-radius: 100px;
	text-align: center;
	font-size: 18px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	letter-spacing: 0.18px;
}

.bottom-row {
	margin-top: 116px;
	display: flex;
	justify-content: center;
}

.container-hire-wrapper {
	position: relative;
	width: 100%;
	height: 920px;
	padding: 0 48px;
}

.container-hire-wrap {
	position: relative;
	width: 100%;
	height: 100%;
	flex-shrink: 0;
	border-radius: 20px;
	background: linear-gradient(180deg, #d7e9eb 0, #ebe8d7 64.34%) no-repeat;
	background-position: 100%;
	background-size: cover;
}

.hire-background {
	position: relative;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 160px;
	width: 100%;
	height: 100%;
}

.hire-background__title {
	justify-content: center;
	color: var(--black, #131415);
	font-size: 14px;
	font-style: normal;
	line-height: 140%;
	padding-top: 100px;
}

.blog-head__title,
.hire-background__subtitle,
.instagram-head__title {
	font-size: 72px;
	font-style: normal;
}

.blog-element1__title,
.blog-element2__title,
.blog-head__title,
.hire-background__subtitle,
.instagram-head__title {
	color: var(--black, #131415);
	font-family: Alumni Sans;
	font-weight: 500;
	line-height: 88%;
}

.hire-background__subtitle {
	text-align: center;
	margin-top: 16px;
	padding: 0 200px;
}

.hire-image img {
	position: absolute;
	z-index: 1;
	top: 0;
	width: 100%;
	height: 100%;
}

.hire-background__button {
	margin-top: 32px;
}

/* .blog-head__button p:hover img,
.hire-background__button p:hover img {
	content: url(/image/emotions-row-green.svg);
} */

.hire-background__button p:hover {
	/* align-items: center;
	gap: 14px;
	color: #01594d;
	padding: 8px 28px;
	background-color: #fff;
	border: 2px solid #01594d; */

	background-color: rgba(1, 89, 77, 0.8);
}

.blog-head__button p,
.blog-head__button p:hover {
	border-radius: 100px;
	text-align: center;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 18px;
	font-weight: 600;
	line-height: 148%;
	letter-spacing: 0.18px;
	font-style: normal;
}

.hire-background__button p:active {
	/* background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.2) 0,
			rgba(255, 255, 255, 0.2) 100%
		),
		var(--green, #01594d);
	color: #fff;
	transition: none;
	padding: 8px 24px; */

	background-color: rgba(1, 89, 77, 0.5);
}

.hire-background__button p:active img {
	content: url(/image/emotions-row.svg);
	gap: 14px;
}

.container-blog {
	display: flex;
}

.blog-wrap {
	margin-top: 160px;
	padding: 0 185px;
}

.blog-head__wrapper {
	display: flex;
	justify-content: center;
}

.blog-head__button,
.blog-head__button p,
.instagram-head__button {
	align-items: center;
	display: flex;
}

.blog-head__button p:hover {
	/* display: flex;
	align-items: center;
	gap: 14px;
	color: #01594d;
	padding: 8px 28px;
	background: #fff;
	border: 2px solid #01594d; */
	background-color: rgba(1, 89, 77, 0.8);
}

.blog-head__button p:active {
	/* background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.2) 0,
			rgba(255, 255, 255, 0.2) 100%
		),
		var(--green, #01594d);
	color: #fff;
	padding: 8px 23px;
	transition: none; */

	background-color: rgba(1, 89, 77, 0.5);
}

/* .blog-head__button p:active img {
	content: url(/image/emotions-row.svg);
} */

.blog-elements {
	display: flex;
	flex-direction: row;
	gap: 16px;
	margin-top: 60px;
}

.blog-element1,
.blog-element2 {
	width: 50%;
}

.blog-element1__image,
.blog-element2__image {
	width: 100%;
	height: 322px;
}

.blog-element1__wrapper,
.blog-element2__wrapper {
	display: flex;
	flex-direction: column;
	gap: 16px;
	margin-top: 36px;
}

.blog-element1__title,
.blog-element2__title {
	font-size: 36px;
	font-style: normal;
}

.aboutus-text__accent,
.blog-element1__subtitle,
.blog-element2__subtitle {
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-style: normal;
	line-height: 140%;
}

.blog-element1__subtitle,
.blog-element2__subtitle {
	overflow: hidden;
	height: 45px;
	color: #1f2023;
	text-overflow: ellipsis;
	font-size: 16px;
	font-weight: 500;
	letter-spacing: 0.48px;
}

.aboutus-text__accent,
.aboutus-text__subtitle,
.aboutus-text__title {
	color: var(--black, #131415);
	font-weight: 500;
}

.aboutus-text__button p,
.aboutus-text__button p:hover {
	display: flex;
	border-radius: 100px;
	text-align: center;
	font-weight: 600;
	line-height: 148%;
}

.aboutus-wrap {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-top: 160px;
	padding: 0 185px;
}

.aboutus-text {
	display: flex;
	flex-direction: column;
	justify-content: center;
	max-width: 523px;
}

.aboutus-text__accent {
	font-size: 14px;
	letter-spacing: 0.56px;
	text-transform: uppercase;
}

.aboutus-text__title {
	font-family: Alumni Sans;
	font-size: 72px;
	font-style: normal;
	line-height: 88%;
	margin-top: 20px;
}

.aboutus-text__button p,
.aboutus-text__button p:hover,
.aboutus-text__subtitle,
.footer-navigation__column1 a,
.footer-navigation__column2 a,
.instagram-head__button p,
.instagram-head__button p:hover {
	font-family: Raleway;
	font-size: 18px;
	letter-spacing: 0.18px;
	font-variant-numeric: lining-nums proportional-nums;
	font-style: normal;
}

.aboutus-text__subtitle {
	line-height: 140%;
	margin-top: 32px;
}

.aboutus-text__button {
	display: flex;
	margin-top: 40px;
}

.aboutus-text__button p {
	align-items: center;
}

/* .aboutus-text__button p:hover img {
	content: url(/image/emotions-row-green.svg);
} */

.aboutus-text__button p:hover {
	/* align-items: center;
	gap: 14px;
	color: #01594d;
	padding: 8px 28px;
	background: #fff;
	border: 2px solid #01594d; */

	background-color: rgba(1, 89, 77, 0.8);
}

.instagram-head__button p,
.instagram-head__button p:hover {
	border-radius: 100px;
	text-align: center;
	font-weight: 600;
	line-height: 148%;
	display: flex;
}

.aboutus-text__button p:active {
	/* background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.2) 0,
			rgba(255, 255, 255, 0.2) 100%
		),
		var(--green, #01594d);
	color: #fff;
	transition: none;
	padding: 8px 22px; */

	background-color: rgba(1, 89, 77, 0.5);
}

.aboutus-text__button p:active img {
	content: url(/image/emotions-row.svg);
}

.instagram-wrap {
	margin-top: 160px;
}

.instagram-head {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	padding: 0 185px;
	align-items: center;
}

.instagram-head__button p {
	align-items: center;
}

/* .instagram-head__button p:hover img {
	content: url(/image/emotions-row-green.svg);
} */

.instagram-head__button p:hover {
	/* align-items: center;
	gap: 14px;
	color: #01594d;
	padding: 8px 28px;
	background: #fff;
	border: 2px solid #01594d; */

	background-color: rgba(1, 89, 77, 0.8);
}

.instagram-head__button p:active {
	/* background: linear-gradient(
			0deg,
			rgba(255, 255, 255, 0.2) 0,
			rgba(255, 255, 255, 0.2) 100%
		),
		var(--green, #01594d);
	color: #fff;
	transition: none;
	padding: 8px 22px;
	gap: 14px; */

	background-color: rgba(1, 89, 77, 0.5);
}

.footer-contacts a:hover,
.footer-navigation__column1 a:hover,
.footer-navigation__column2 a:hover,
.header-navigation a:hover,
.header-text a:hover {
	text-decoration: underline;
	color: var(--light-green, #cfe8d0);
}

.instagram-head__button p:active img {
	content: url(/image/emotions-row.svg);
}

.instagram-elements-container {
	overflow: hidden;
	width: 100%;
}

.instagram-elements {
	margin-top: 60px;
	display: flex;
	animation: 30s linear infinite scroll;
}

.instagram-elements__element {
	flex: 0 0 auto;
	margin-right: 20px;
}

@keyframes scroll {
	0% {
		transform: translateX(0);
	}

	100% {
		transform: translateX(-100%);
	}
}

.footer-content {
	margin-top: 160px;
	display: flex;
	flex-direction: row;
	padding: 65px 185px;
}

.footer-logos {
	display: flex;
	flex-direction: column;
	gap: 20px;
	max-width: 320px;
}

.footer-logos__main-info {
	color: var(--white, #fbfbfb);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%;
	letter-spacing: 0.16px;
}

.footer-bottom__laws,
.footer-logos__partner-info {
	color: var(--white, #fbfbfb);
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 500;
}

.footer-logos__partner-info {
	font-variant-numeric: lining-nums proportional-nums;
	line-height: 140%;
	letter-spacing: 0.42px;
	text-transform: uppercase;
}

.footer-logos__partner {
	display: flex;
	gap: 12px;
}

.footer-logos__partner img {
	border-radius: 12px;
	background: rgba(255, 255, 255, 0.1);
	padding: 8px 12px;
	width: 50%;
	height: 100%;
}

.footer-navigation {
	display: flex;
	flex-direction: row;
	gap: 98px;
	margin-left: 80px;
	padding-top: 30px;
}

.footer-navigation__column1,
.footer-navigation__column2 {
	display: flex;
	flex-direction: column;
	gap: 32px;
}

.footer-navigation__column1 a,
.footer-navigation__column2 a {
	color: var(--white, #fbfbfb);
	font-weight: 600;
	line-height: 148%;
}

.footer-contacts {
	display: flex;
	flex-direction: column;
	gap: 20px;
	margin-left: 120px;
	padding-top: 30px;
}

.footer-contacts__email,
.footer-contacts__phone,
.header-contacts__email {
	display: flex;
	align-items: center;
	gap: 12px;
	color: var(--white, #fbfbfb);
	font-family: Alumni Sans;
	font-size: 36px;
	font-style: normal;
	font-weight: 500;
	line-height: 88%;
}

.footer-social-networks,
.header-social-networks {
	display: flex;
	flex-direction: row;
	gap: 16px;
}

.footer-social-networks__facebook,
.footer-social-networks__instagram,
.header-social-networks__facebook,
.header-social-networks__instagram {
	border-radius: 100px;
	background: rgba(251, 251, 251, 0.1);
	padding: 16px;
	transition: background-color 0.3s ease-in;
}

.footer-social-networks__instagram:hover,
.header-social-networks__instagram:hover {
	background: #fff;
	padding: 16.5px;
}

.footer-social-networks__instagram:hover img {
	content: url(/image/icon-footer-instagram-green.svg);
}

.footer-social-networks__facebook:hover,
.header-social-networks__facebook:hover {
	background: #fff;
	padding: 16px 20px;
	border-radius: 100px;
}

.footer-social-networks__facebook:hover img {
	content: url(/image/icon-footer-facebook-green.svg);
}

.header-white-line,
.white-line {
	border: none;
	height: 1px;
	opacity: 0.3;
	background: var(--white, #fbfbfb);
	margin: 0 48px;
}

.header-image,
.header-image-wrap {
	background-position: center;
	background-repeat: no-repeat;
}

.footer-bottom {
	display: flex;
	justify-content: space-between;
	padding: 32px 185px;
}

.footer-bottom__laws {
	line-height: 140%;
	letter-spacing: 0.14px;
}

.footer-bottom__designer,
.footer-bottom__politic {
	color: var(--white, #fbfbfb);
	font-family: Raleway;
	font-size: 14px;
	font-style: normal;
	font-weight: 600;
	line-height: 140%;
	letter-spacing: 0.14px;
}

.footer-bottom__designer {
	text-align: right;
}

.header-contacts__phone,
.header-text a {
	font-family: Alumni Sans;
	font-weight: 500;
	line-height: 88%;
	color: var(--white, #fbfbfb);
	font-style: normal;
}

.animate-on-scroll {
	opacity: 0;
	transform: translateY(70px);
	transition: opacity 1.5s, transform 2s;
}

.mobile-header {
	background-color: #01594d;
	display: none;
	flex-direction: row;
}

.header-text {
	display: flex;
	flex-direction: row;
	gap: 240px;
	padding: 68px 0 68px 60px;
}

.header-text a {
	font-size: 72px;
}

.header-navigation {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 48px;
	padding: 50px 60px;
}

.header-navigation :last-child {
	justify-content: end;
}

.header-contacts__phone {
	display: flex;
	align-items: center;
	gap: 12px;
	font-size: 36px;
	min-width: 228px;
}

.header-social-networks__instagram:hover img {
	content: url(/image/icon-footer-instagram-green.svg);
}

.header-social-networks__facebook:hover img {
	content: url(/image/icon-footer-facebook-green.svg);
}

.header-language-change {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 4px;
}

.header-language-change__layout {
	color: var(--white, #fbfbfb);
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 16px;
	font-style: normal;
	font-weight: 600;
	line-height: 148%;
	letter-spacing: 0.16px;
}

.header-image-wrap {
	width: 34%;
	background-image: url(/image/mobile-header-img.webp);
	background-size: cover;
}

.header-image {
	width: 100%;
	height: 100%;
	background-image: url(/image/logo-mobile-header.svg);
	background-size: auto;
	display: flex;
	justify-content: end;
}

.close-icon {
	width: 48px;
	height: 48px;
	margin: 28px 28px 0 0;
}

.close-icon img {
	padding: 16px;
	background-color: var(--light-green, #cfe8d0);
	width: 48px;
	height: 48px;
	border-radius: 100%;
	transition: background-color 0.3s ease-in;
}

.close-icon img:hover {
	background-color: rgba(207, 232, 208, 0.8);
}

.elementAttraction__link {
    color: var(--green, #01594D);
    font-variant-numeric: lining-nums proportional-nums;
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 148%;
    letter-spacing: 0.18px;
}

.elementAttraction__link>a {
    color: var(--green, #01594D);
    font-variant-numeric: lining-nums proportional-nums;

    /* button 18 */
    font-family: Raleway;
    font-size: 18px;
    font-style: normal;
    font-weight: 600;
    line-height: 148%;
    /* 26.64px */
    letter-spacing: 0.18px;
    transition: opacity 0.3s ease-in;
}

.elementAttraction__link>a:hover {
    opacity: 70%;
}

.wrapperLink_data{
    display: flex;
    justify-content: space-between;
	align-items: center;
}

.data{
	color: #1F2023;
	font-variant-numeric: lining-nums proportional-nums;
	font-family: Raleway;
	font-size: 12px;
	font-style: normal;
	font-weight: 500;
	line-height: 140%; /* 16.8px */
	letter-spacing: 0.36px;
	opacity: 0.7;
}