@media screen and (max-width: 1441px) {
	.aboutus-wrap,
	.blog-wrap,
	.container-boyku-wrapper,
	.emotions-items-wrapper,
	.route-versions-wrap {
		padding: 0 60px;
	}
	.emotions-wrap {
		margin: 185px 60px 0;
	}
}
@media screen and (max-width: 1301px) {
	.container-title-wrap_2 {
		margin: 60px 120px 0;
	}
}
@media screen and (max-width: 1224px) {
	.footer-content {
		padding: 65px 60px;
	}
	.footer-logos__main-info,
	.footer-logos__partner-info {
		font-size: 14px;
	}
	.footer-navigation__column1 a,
	.footer-navigation__column2 a {
		font-size: 16px;
	}
	.footer-contacts__email,
	.footer-contacts__phone {
		font-size: 30px;
	}
}
@media screen and (max-width: 1171px) {
	.container-title-wrap_2 {
		margin: 60px 80px 0;
	}
	.routes1-info-wrap__distance,
	.routes1-info-wrap__height,
	.routes1-info-wrap__level,
	.routes2-info-wrap__distance,
	.routes2-info-wrap__height,
	.routes2-info-wrap__level,
	.routes3-info-wrap__distance,
	.routes3-info-wrap__height,
	.routes3-info-wrap__level {
		font-size: 12px;
	}
}
@media screen and (max-width: 1091px) {
	.container-title-wrap_2 {
		margin: 60px 60px 0;
	}
	.container-title__title p,
	.routes-about__subtitle {
		font-size: 64px;
	}
	.container-title__subtitle,
	.title-button-wrap__text p {
		font-size: 14px;
	}
	.title-button-wrap__info {
		font-size: 12px;
		padding-top: 5px;
	}
}
@media screen and (max-width: 1025px) {
	.container-title__title {
		width: 495px;
	}
	.container-title__subtitle {
		width: 350px;
	}
	.footer-contacts {
		margin-left: 88px;
	}
	.footer-content {
		padding: 65px 45px;
	}
	.footer-bottom {
		padding: 32px 60px;
	}
	.aboutus-text__accent,
	.boyku-title__accent,
	.emotions-title__accent,
	.routes1-title__accent,
	.routes2-title__accent,
	.routes3-title__accent {
		font-size: 12px;
	}
	.aboutus-text__title,
	.blog-head__title,
	.boyku-title__title,
	.emotions-title__title,
	.hire-background__subtitle,
	.instagram-head__title {
		font-size: 64px;
	}
	.blog-element1__subtitle,
	.blog-element2__subtitle,
	.boyku-title__subtitle,
	.subtitle-padding {
		font-size: 14px;
	}
	.item_1s__title {
		font-size: 30px;
		width: 200px;
	}
	.blog-element1__title,
	.blog-element2__title,
	.emotion-items__item_3s p,
	.item2-img p {
		font-size: 30px;
	}
	.routes-wrap__title-wrap_title {
		font-size: 64px;
		width: 500px;
	}
	.routes1-title,
	.routes2-title,
	.routes3-title {
		font-size: 40px;
	}
	.aboutus-text__button p,
	.blog-head__button p,
	.hire-background__button p,
	.instagram-head__button p,
	.routes1-button p,
	.routes1-subtitle,
	.routes2-button p,
	.routes2-subtitle,
	.routes3-button p,
	.routes3-subtitle {
		font-size: 16px;
	}
	.routes-about-img-wrap__image1,
	.routes-about-img-wrap__image2 {
		height: 520px;
	}
	.routes-about__subtitle p {
		padding: 0;
	}
	.container-hire-wrapper {
		height: 720px;
	}
	.aboutus-text__subtitle {
		font-size: 16px;
		width: 420px;
	}
	.aboutus-image img {
		margin-left: 20px;
	}
	.instagram-head {
		padding: 0 60px;
	}
}
@media screen and (max-width: 995px) {
	.contacts-wrap,
	.language-change,
	.navigation__item {
		display: none;
	}
	.footer-contacts,
	.footer-navigation {
		margin-left: 50px;
	}
	.container-title__title p {
		font-size: 50px;
	}
	.container-title__subtitle {
		font-size: 12px;
	}
}

@media screen and (max-width: 995px) {
	.footer-contacts {
		margin-left: 50px;
	}

	.footer-navigation {
		margin-left: 50px;
	}
}

@media screen and (max-width: 960px) {
	.footer-content {
		flex-direction: column;
		align-items: baseline;
	}
}

@media screen and (max-width: 1010px) {
	.container-title-wrap_2 {
		margin: 60px 0px 0px 0px;
	}

	.container-title {
		padding: 0px 30px;
	}

	.container-title__title {
		width: auto;
	}

	.container-title__subtitle {
		width: auto;
	}

	.container-video {
		margin: 55px 30px;
	}

	.container-boyku-wrapper {
		padding: 0px 30px;
	}

	.boyku-title {
		flex-direction: column;
	}

	.boykuTitle {
		font-size: 54px;
	}

	.boyku-title-wrapper {
		padding: 0px;
	}

	.emotions-wrap {
		margin: 150px 30px 0px 30px;
	}

	.emotions-title {
		flex-direction: column;
	}

	.emotions-title__title {
		width: 100%;
		padding: 0px;
	}

	.emotionsTitle {
		font-size: 54px;
	}

	.emotions-items-wrapper {
		padding: 0px 30px;
	}

	.emotion-wrapper {
		padding: 0px 10px 0px 0px;
	}

	.emotion-items__item_4 {
		padding-right: 10px;
	}

	.emotion-items__item_2 p {
		padding: 15px 0 0 15px;
	}

	.emotion-items__item_3s p {
		padding: 15px 0 0 15px;
	}

	.route-versions-wrap {
		padding: 0px 30px;
	}

	.routes1-button,
	.routes2-button,
	.routes3-button {
		margin-top: 50px;
	}

	.routes-wrap__title-wrap_title {
		font-size: 54px;
	}

	.routes-about__subtitle {
		font-size: 54px;
	}

	.routes-about-img-wrap {
		padding: 0px 30px;
	}

	.routes-about-img-wrap__image1,
	.routes-about-img-wrap__image2 {
		height: 400px;
	}

	.container-hire-wrapper {
		height: 500px;
		padding: 0px 30px;
	}

	.hire-background__title {
		padding-top: 60px;
	}

	.hire-background__subtitle {
		font-size: 54px;
		padding: 0px 60px;
	}

	.aboutus-wrap {
		padding: 0px 30px;
	}

	.aboutus-text {
		max-width: 330px;
	}

	.aboutus-text__title {
		font-size: 54px;
	}

	.aboutus-text__subtitle {
		width: auto;
	}

	.aboutus-image img {
		padding-right: 10px;
	}

	.instagram-elements__element img {
		height: 400px;
	}

	/*
	.emotions-title__title p {
		color: var(--black, #131415);
		font-family: Alumni Sans;
		font-size: 44px;
		font-style: normal;
		font-weight: 500;
		line-height: 88%;
		width: 100%;
	}

	.emotion-items {
		padding: 0px;
	}

	.emotion-items__item_1 {
		width: 100%;
		height: 452px;
	}

	.emotion-items__item_2 {
		width: 100%;
		height: 220px;
	}

	.emotion-items__item_3 {
		width: 100%;
		height: 220px;
	}

	.emotion-items__item_4 {
		width: 100%;
		height: 220px;
	} */
}

@media screen and (max-width: 1010px) {
	.logo {
		margin: 20px 0px 20px 30px;
	}

	.menu {
		margin-right: 30px;
	}
}
